.my-data-page {
  padding: 20px;
}

.my-data-list {
  list-style: none;
  padding: 0;
}

.my-data-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.image-container {
  margin-right: 20px;
}

.item-details {
  flex-grow: 1;
}

.item-details span {
  display: block;
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.delete-button,
.update-button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
}

.update-button {
  background-color: #4d79ff;
  color: white;
}